div video {
    /* border: 5px solid black; */
    width: 1875px;
    height: 500px;
}

.business-list {
    /* border: 5px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
    padding: 200px;
    background-color: #f9f9f9;
}

.business-card {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transition 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-card:hover {
    transform: translateY(-px);
    box-shadow: 0 8px 16px rgba(0,0,0,.20);
}

.business-name {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #333;

}

.business-card a {
    text-decoration: none;

}

.price-category {
    font-size: 15px;
    color: grey;
}
