.business-card-link {
    display: block;
    flex-grow: 1;
    color: inherit;
    text-decoration: none;
}

.business-card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
}

.business-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.business-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
