.footer {
    background-color: #e0e0e0;
    color: #333;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;

    margin-left: -10px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.team-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 20px;
}

.team-member {
    display: flex;
    flex-direction: column;
}

.team-member a {
    color: #333;
    text-decoration: none;
    margin: 5px 0;
}

.team-member a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 20px;
}
